.switch-wrapper {
  position: relative;
  width: 100%;
  flex: 1;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  display: flex;
}

@media only screen and (max-width: 760px) {
  .mainContainer {
  width: calc(100% - 10px) !important;
  margin: 0px !important;
  }

  .marginIcon {
      margin: 0px !important;
  }

  .imgMuni {
      width: 34px !important;
  }

  .iconosTributarios {
      display: none !important;
  }

  .botonesTributarios {
      top: 0px !important;
  }
} 